* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 10/16=62.5 => which will traslate to a percentage of the font-size given by the browser*/
  font-size: 62.5%;
  /* font-size: 10px; */
}

body {
  box-sizing: border-box;
}
